abalone-engine @ git+git://github.com/campfireman/abalone-engine.git@cb8f6e449fee03d9c77b6ea2a448e2bd82e51004
absl-py==0.15.0
alpha-zero-general @ git+git://github.com/campfireman/alpha-zero-general.git@fb41da6523064156f9f2948eb329e24dbe7477f9
astroid==2.8.4
astunparse==1.6.3
attrs==21.2.0
autopep8==1.6.0
backcall==0.2.0
blessed==1.17.6
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cloud-tpu-client==0.10
colorama==0.4.4
coloredlogs==15.0.1
Cython==0.29.24
debugpy==1.5.1
decorator==5.1.0
entrypoints==0.3
flatbuffers==2.0
gast==0.4.0
google-api-core==1.31.4
google-api-python-client==1.8.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-tpu==1.2.1
google-pasta==0.2.0
googleapis-common-protos==1.53.0
graphviz==0.18
grpcio==1.42.0
grpcio-status==1.42.0
h5py==3.5.0
httplib2==0.20.2
humanfriendly==10.0
idna==3.3
iniconfig==1.1.1
inquirer==2.7.0
ipykernel==6.5.0
ipython==7.29.0
isort==5.10.0
jedi==0.18.0
jupyter-client==7.0.6
jupyter-core==4.9.1
keras==2.7.0
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.6.0
libclang==12.0.0
Markdown==3.3.4
matplotlib-inline==0.1.3
mccabe==0.6.1
nest-asyncio==1.5.1
numpy==1.21.4
oauth2client==4.1.3
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.4
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.0
pluggy==1.0.0
prompt-toolkit==3.0.22
proto-plus==1.19.8
protobuf==3.19.1
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydot==1.4.2
Pygments==2.10.0
pylint==2.11.1
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2021.3
pyzmq==22.3.0
readchar==2.0.1
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.16.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.21.0
termcolor==1.1.0
toml==0.10.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.7
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.13.3
